*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 500px;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 150px;
    height: 150px;
    margin: 5px;
}
.item1 {
    width: 150px;
    height: 150px;
    background: salmon;
}
.item2 {
    width: 150px;
    height: 150px;
    background: greenyellow;
}
.item3 {
    width: 150px;
    height: 150px;
    background: gainsboro;
}
